div.translate-overlay {
  position: absolute;
  z-index: 9999;
  opacity: 0.8;
  background-color: #000000;
  color: #fff;
  text-align: center;
}
div.translate-overlay-title {
  padding: 1em 0;
  font-size: 24px;
  line-height: 1em;
}

div.translate-overlay-message {
  padding: 0 1em 1em;
  font-size: 18px;
  line-height: 1.4em; 
}

div.translate-overlay.translate-error {
  background-color: #aa0000;
}